// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
} 

 a.navbar-brand.user{
   font-size: .8em;
   display: flex;
   
   .a {
     font-size: 0.8em
   }
 }
